<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN_ZVjtk7t-x-O5oOpZcAnoctM0axA6k8</string>
	<key>GCM_SENDER_ID</key>
	<string>1002671201023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthtrack</string>
	<key>PROJECT_ID</key>
	<string>healthtrack-9d144</string>
	<key>STORAGE_BUCKET</key>
	<string>healthtrack-9d144.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002671201023:ios:ddbf4bf0a7a3a51c614aca</string>
</dict>
</plist>